* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.container {
    margin: 10px;
}

.result {
    position: relative;   
    min-height: calc(100dvh - 60px);    
}

.border-container{
  border: 2px solid black;
   margin: 10px;
}

.rubber {
  display: none;
  position: absolute;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.15);  
  pointer-events: none;
}